/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0; 
}

.cover {
  position: relative;
  min-height: 757px;
  margin: 0 auto;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.lots {
  margin: 180px 24px 60px 24px;
  background-color: #fff;
}

.about {
  margin: 60px 24px 180px 24px;
  background-color: #fff;
}

.footer {
  padding: 0 50px 82px 50px;
  margin: ;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
}

.header__menu {
  
  
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 13px;
  line-height: 0%;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list .header__links-list-item_no-bullit{
  list-style: none;
}

 .header__link {
  border-bottom: 1px solid #000 ;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header-logo {
  display: block;
  width: 148px;
}

.address {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.header__address {
  align-items: flex-start;
  max-width: 240px;
  justify-self: end;
}

.address-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* Стили для обложки*/

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.cover-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover-title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 385px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.accent-span-no-spacing{
  letter-spacing: 0;
}

.description {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  letter-spacing: 0;
}

.intro_title {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.8em;
}

.button {
  width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: transparent;
}
/* Стили для секции с лотами*/

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 27px;
}

.lots__heading {
  padding: 0 173px 0px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  
}

.lots__card-list-item {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 334px;
  min-height: 596px;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card-link {
  height: 100%;
}

.card__title {
  z-index: 1;
  height: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  z-index: 1;
  align-items: end;
  height: 100%;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  margin: 3px 102px 2px 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
  font-size: 20px;
  display: block;
  width: 192px;
}

/* стили для секции about */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 120px 24px 180px 24px;
  padding: 35px 0 0 0;
  justify-items: center;
}

/* .about__column {
  display: flex;
  flex-direction: column;
} */

.about__logo {
  background-color: #000;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  display: flex;
}

.about__logo-image {
  margin: auto;
  width: 148px;
  
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 101px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* стили для подвала */

.footer__address {
  justify-self: start;
  max-width: 264.57px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 18px;
  line-height: 100%;
  width: 163.9px;
  list-style: none;
  text-align: center;
  text-decoration: none;
}

.footer__links-list-item {
  list-style: none;
  display: block;
}

 .footer__menu-link {
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 48px;
  justify-self: end;
 
}

.footer__social-link {
  display: inline-block;
  text-decoration: none;
}

.footer__social-icon {
  height: 48px;
} 
