.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0;
}

.cover {
  position: relative;
  min-height: 757px;
  margin: 0 auto;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 27px;
  margin: 180px 24px 60px 24px;
  background-color: #fff;
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 240px 1fr;
  grid-template-areas:
    "about__logo about__title"
    ". about__text";
  justify-items: center;
  gap: 8px 72px;
  margin: 120px 24px 180px 24px;
  padding: 35px 0px 0px 47px;
  background-color: #fff;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
  padding: 0 50px 82px 50px;
  background-color: #fff;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: flex-start;
  gap: 32.5px;
  line-height: 0%;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header-logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header_logo-image {
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.header__address {
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
}

.address-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

/* Стили для обложки*/

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.cover-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover-title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2em;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.accent-span-no-spacing {
  letter-spacing: 0;
}

.description {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0;
}

.intro_title {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.85em;
}

.button {
  width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: transparent;
}

/* Стили для секции с лотами*/

.lots__heading {
  padding: 3.5px 173px 3.5px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  min-width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-link {
  z-index: 1;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  align-items: end;
  align-content: end;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  width: 192px;
  margin: 3px 102px 2px 40px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  text-decoration: none;
}

/* стили для секции about */

.about__logo {
  display: flex;
  grid-area: about__logo;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  margin: auto;
}

.about__title {
  grid-area: about__title;
  justify-self: start;
  align-self: center;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-area: about__text;
  gap: 22px;
  font-size: 20px;
  line-height: 24px;
}

/* стили для подвала */

.footer__address {
  justify-self: start;
  align-items: flex-start;
  max-width: 264.57px;
  line-height: 24.3px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 3px;
  width: 163.9px;
  padding-top: 1px;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.footer__links-list-item {
  display: block;
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: inline-block;
  text-decoration: none;
}

.footer__social-icon {
  height: 48px;
}
